<head>
	<style type="text/css">
		body {width:600px; background-color:white;}
		* {font:15px roboto, sans-serif; color:#424242; text-align: justify;}
		a {font-weight:600; color:#64dd17; text-decoration: none}
		#company_image {max-height: 60px}
		li {margin-bottom: 5px}
	</style>
</head>
<body>
	<p><%= @greeting%> <%= @client.first_name%>,</p>
	<p>Ya puedes consultar el tour virtual de <%=@product.name%> en los siguientes links:</p>
	<p>https://primeraraiz.com/intro/<%=@product.id%> (sugerido para compartir con clientes, vía WhatsApp, Facebook y por correo)</p>
	<p><%=@product.url%> (para incluirlo en anuncios en Inmuebles24)</p>
	<p>Hice una propuesta inicial de edición, pero quedo atento a tus comentarios. Los aspectos que podríamos modificar incluyen los siguientes:</p>
	<ul>
		<li>Imagen de portada (podría ser cualquier parte del espacio, desde cualquiera de las opciones de visualización).</li>
		<li>Modificar las imágenes que forman parte del recorrido automático que se muestra al dar click en el ícono de play.</li>
		<li>Agregar etiquetas interactivas con información relevante de tu espacio (puedes ver un ejemplo <a href="https://primeraraiz.com/intro/20">aquí</a>).</li>
		<li>Inhabilitar el ícono para acceder a la vista “dollhouse” y los planos.</li>
	</ul>
	<p>También te comparto el código html que puedes utilizar como base para integrar el tour virtual a cualquier página web:</p>
	<p readonly style="font-family:'Courier New', Courier, monospace"><%=@code%></p>
	<p>El hospedaje en línea de este modelo concluye el <%=@date%>. Nos pondremos en contacto contigo con anticipación para consultar si deseas renovarlo.</p>
	<% unless @message =="" %>
	<p><%= @message%></p>
	<% end %>
	<p>¡Saludos!</p>
	<br>
	<div style="height:280px; vertical-align:top">
		<table id="signature" style="display:inline-block; vertical-align:top">
			<tbody>
				<tr>
					<td style="width:36px;margin:20px;padding:0px 5px 10px !important;vertical-align:top">
						<img src="https://primeraraiz.com/assets/original_logo.png" class="z-depth-0 valign" height="34px" style="box-shadow: 4px 3px 3px #888888">
					</td>
					<td style="width:180pxc;font-size:15px;padding:0px 5px 10px !important">
						<span style="font-weight:600">
							Roberto Valladares Piedras
						</span>
						<br>
						Socio Director
					</td>
				</tr>
				<tr>
					<td style="padding:0px 5px 10px !important"></td>
					<td style="padding:0px 5px 10px !important">
						Río Niágara 38, Colonia Cuauhtémoc,
						<br>
						Ciudad de México, C.P. 06500.
					</td>
				</tr>
				<tr style="color:#bdbdbd">
					<td style="padding:10px 5px 10px !important"></td>
					<td class="valign-wrapper" style="padding:10px 5px 10px !important;">
						<a class="valign" href="https://primeraraiz.com" style="font-weight:600;color:#bdbdbd;font-size:15px">primeraraiz.com</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>