<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<div class="logo">
			<%= image_tag 'logo.png', :width => '32', :height => '32' %>
			<h5 class="brand">primera<span class="keyword-green">Raíz</span></h5>
		</div>
		<div>
			<h5><%= @greeting%> <%= @name%>,</h5>
		</div>
		<br>
		<p>
			Ya tenemos listo tu modelo 3D. Puedes consultarlo en <%=@tour.public_url%>. Para mantener accesible el modelo es necesario que liquides el saldo por $<%=@remainder %> durante las próximas 48 horas. Por supuesto, si realizas el pago posteriormente volveremos a habilitar modelo a la brevedad. 
		</p>
		<br>
		<p>
			Puedes hacer el pago con tarjeta de crédito <a href="https://primeraraiz.com/tours/<%= @tour.id %>">aquí</a>, o realizar una transferencia bancaria a la siguiente cuenta: 
		</p>
		<table id="transfer-table" class="green-table white-text z-depth-1">
			<tbody>
				<tr>
					<td class="bold-cell">Beneficiario:</td><td>Roberto Valladares Piedras</td>
				</tr>
				<tr>
					<td class="bold-cell">Banco:</td><td>Banorte / IXE</td>
				</tr>
				<tr>
					<td class="bold-cell">Cuenta:</td><td>0011614706</td>
				</tr>
				<tr>
					<td class="bold-cell">Clabe:</td><td>072180000116147064</td>
				</tr>
			</tbody>
		</table>
		<p>
			En el concepto de la tranferencia por favor escribe tour<%=@tour.id%>.
		</p>
		<p>
			Por favor, si tienes cualquier duda o aclaración contáctanos por este medio o al <a href="tel:5544545312">(044) 55-4454-5312</a>. ¡Gracias por tu preferencia!
		</p>
	</body>
</html>