<script type="text/javascript">
	$(document).ready(function() {
		$('#contact_land_line').mask("(99) 9999-9999")
		$('#contact_mobile_number').mask("(99) 9999-9999")

		if($('#contact-success-modal').length) {
	    	$('#contact-success-modal').openModal()
	    	$.get()
    	}
		if($('#contact-error-modal').length) {
	    	$('#contact-error-modal').openModal()
	    	$.get()
    	}

  		// GET CLIENTS
  		$('#package-institution-selector').change(function() {
  			$('#package-client-selector').html('')
  			$('#package-client-selector').removeAttr("disabled")
  			$.post(
  				'/packages/getClients',
  				$(this).serialize(),
  				function(data) {
  					var clientOptions = "<option value='' disabled selected>Cliente</option>"
  					for(i=0; i<data.clients.length; i++) {
  						clientOptions += "<option value='"+data.clients[i].id+"'>"+data.clients[i].first_name+" "+data.clients[i].name+"</option>"
  					}
					$('#package-client-selector').append(clientOptions)				
  				}
  			)
  			return false
  		})

  		// CHANGE SUBTOTAL
  		$('.myQuote').change(function() {
  			$.post(
				'/packages/getSubtotal',
				$('#quoteForm').serialize(),
				function(data) {
					var myText = '$'+data.subtotal+'.00 MN'
				$('#quote-subtotal').text(myText)
				}
  			)
  			return false
  		})
	})
</script>
<div id="admins" class="b-container">
	<div class="row">
	</div>
	<div class="row">
		<div class="col l6 m6 s12">
			<h5>Agregar cotización</h5>
			<div class="basic-block row">
				<form id="quoteForm" action="/packages" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="input-field col s12">
						<select id="package-institution-selector" class="admins-select browser-default" name="package[institution_id]">
							<option value="" selected>Organización</option>
							<% @institutions.each do |institution|%>
								<option value="<%= institution.id %>"><%= institution.name%></option>
							<% end %>
						</select>
					</div>
					<div class="input-field col s12">
						<select id="package-client-selector" class="admins-select browser-default" disabled name="package[client_id]">
							<option value="" disabled selected>Cliente*</option>
						</select>
					</div>
					<div class="col s12">
						<h6>Modelos</h6>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Completo 100</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[completo100]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Completo 200</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[completo200]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Completo 300</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[completo300]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Completo 400</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[completo400]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Completo 500</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[completo500]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Completo 1000</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[completo1000]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Básico 60</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[basico60]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Básico 60 x 2</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[basico60x2]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="input-field col s4">
							<p class="quoteLabel col s9">Básico 100</p>
							<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[basico100]">
								<option value="0" disabled selected>-</option>
								<% @myNumbers.each do |number|%>
									<option value="<%= number%>"><%=number%></option>
								<% end %>
							</select>
					</div>
					<div class="col s12">
						<h6>Complementos</h6>
					</div>
					<div class="input-field col s4">
						<p class="quoteLabel col s9">Toma 360</p>
						<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[toma360]">
							<option value="0" disabled selected>-</option>
							<% @myNumbers.each do |number|%>
								<option value="<%= number%>"><%=number%></option>
							<% end %>
						</select>
					</div>
					<div class="input-field col s4">
						<p class="quoteLabel col s9">Video</p>
						<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[video]">
							<option value="0" disabled selected>-</option>
							<% @myNumbers.each do |number|%>
								<option value="<%= number%>"><%=number%></option>
							<% end %>
						</select>
					</div>
					<div class="input-field col s4">
						<p class="quoteLabel col s9">Plano</p>
						<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[plano]">
							<option value="0" disabled selected>-</option>
							<% @myNumbers.each do |number|%>
								<option value="<%= number%>"><%=number%></option>
							<% end %>
						</select>
					</div>
					<div class="input-field col s4">
						<p class="quoteLabel col s9">Hosting</p>
						<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[hosting]">
							<option value="0" disabled selected>-</option>
							<% @myNumbers.each do |number|%>
								<option value="<%= number%>"><%=number%></option>
							<% end %>
						</select>
					</div>
					<div class="input-field col s4">
						<p class="quoteLabel col s9">Procesamiento</p>
						<select id="model100-selector" class="myQuote admins-select browser-default col s3" name="package[procesamiento]">
							<option value="0" disabled selected>-</option>
							<% @myNumbers.each do |number|%>
								<option value="<%= number%>"><%=number%></option>
							<% end %>
						</select>
					</div>
					<div class="col s12">
						<h6>Viáticos</h6>
					</div>
					<div class="col s12">
						<div class="row">
							<p class="quoteLabel col s9">Subtotal</p>
							<div class="subtotal-box teal lighten-5 z-depth-2 col s3 valign-wrapper right-align">
								<p id="quote-subtotal" class="valign right-align">-</p>
							</div>
						</div>
					</div>
				</form>
			</div>
			<h5>Agregar contacto</h5>
			<div class="basic-block row">
				<form action="/contacts" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="input-field col l6 m6 s12">
						<input type="text" name="contact[first_name]" placeholder="Nombre">
					</div>
					<div class="input-field col l6 m6 s12">
						<input type="text" name="contact[name]" placeholder="Apellidos">
					</div>
					<div class="input-field col s12">
						<input type="text" name="contact[email]" placeholder="Correo*">
					</div>
					<div class="input-field col s12">
						<select class="admins-select browser-deafult" name="contact[state]">
							<option value="" disabled selected>Ciudad</option>
							<% @cities.each do |city| %>
								<option value="<%= city%>"><%= city%></option>
							<% end %>
						</select>
					</div>
					<div class="input-field col s12">
						<select class="admins-select browser-deafult" name="contact[language]">
							<option value="" selected>Idioma</option>
							<option value="Spanish">Español</option>
							<option value="English">Inglés</option>
						</select>
					</div>
					<div class="input-field col s12">
						<input id="contact_mobile_number" type="text" name="contact[mobile_phone]" placeholder="Celular">
					</div>
					<div class="input-field col s8">
						<input id="contact_land_line" type="text" name="contact[other_phone]" placeholder="Teléfono fijo">
					</div>
					<div class="input-field col s4">
						<input type="text" name="contact[extension]" placeholder="Extensión">
					</div>
					<div class="input-field col s12">
						<select class="admins-select browser-default" name="contact[institution_id]">
							<option value="" selected>Organización</option>
							<% @institutions.each do |institution|%>
								<option value="<%= institution.id %>"><%= institution.name%></option>
							<% end %>
						</select>
					</div>
					<button class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
				</form>
			</div>
			<% if @admin == true %>
				<div class="basic-block row">
					<p class="button-related">Descargar contactos (Excel)</p>
					<a href="/admins/download_contacts">
						<button class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
					</a>
				</div>
			<% end %>
		</div>
		<div class="col l6 m6 s12">
			<h5>Agregar organización</h5>
			<div class="basic-block row">
				<form action="/institutions" enctype="multipart/form-data" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="input-field col s12">
						<input type="text" name="institution[name]" placeholder="Organización">
					</div>
					<div class="input-field col s12">
						<input type="text" name="institution[website]" placeholder="Página Web">
					</div>
					<div class="input-field col s12">
						<select class="admins-select browser-deafult" name="institution[category]">
							<option value="" disabled selected>Categoría</option>
							<option value="RE_broker">Agente inmobiliario</option>
							<option value="RE_marketing">Mercadotecnia</option>
							<option value="Apartments">Departamentos y suites corporativas</option>
							<option value="FSBO">Trato directo</option>
							<option value="RE_developer">Constructor</option>
							<option value="RE_website">Portal bienes raíces</option>
							<option value="architecht_designer">Arquitectura y decoradoración</option>
							<option value="hotel_restaurant">Hospitalidad y comercio</option>
							<option value="sport_facilities">Clubes deportivos y gimnasios</option>
							<option value="cultural">Cultura</option>
							<option value="technology">Innovación y tecnología</option>
							<option value="government">Gobierno</option>
							<option value="general">General</option>
						</select>
					</div>
					<div class="input-field col l6 m12 s12">
						<select class="admins-select browser-deafult" name="institution[state_id]">
							<option value="" disabled selected>Estado</option>
							<% @states.each do |state| %>
								<option value="<%= state.id%>"><%= state.estado%></option>
							<% end %>
						</select>
					</div>
					<div class="input-field col l6 m12 s12">
						<input type="text" name="institution[color]" placeholder="Color HEX">
					</div>
					<div class="input-field col s12">
						<input type="file" name="institution[image]">
					</div>
					<button id="institution-button" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
				</form>
			</div>
		</div>
		<div class="col l6 m6 s12">
			<h5>Agregar modelo</h5>
			<div class="basic-block row">
				<form action="/products" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="input-field col s12">
						<input type="text" name="product[name]" placeholder="Nombre">
					</div>
					<div class="input-field col s12">
						<input type="text" name="product[url]" placeholder="URL">
					</div>
					<div class="input-field col s12">
						<input type="text" name="product[cdn]" placeholder="CDN de la portada">
					</div>
					<div class="input-field col s12">
						<select class="admins-select browser-default" name="product[institution_id]">
							<option value="" selected>Organización</option>
							<% @institutions.each do |institution|%>
								<option value="<%= institution.id %>"><%= institution.name%></option>
							<% end %>
						</select>
					</div>
					<button id="product-button" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
				</form>
			</div>
			<h5>Agregar post</h5>
			<div class="basic-block row">
				<form action="/posts" enctype="multipart/form-data" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="input-field col s12">
						<input type="text" name="post[title]" placeholder="Título">
					</div>
					<div class="input-field col s12">
						<textarea name="post[subtitle]" placeholder="Subtítulo"></textarea>
					</div>
					<div class="input-field col s12">
						<textarea name="post[body]" placeholder="Texto"></textarea>
					</div>
					<div class="input-field col s12">
						<input type="file" name="post[picture]">
					</div>
					<div class="input-field col s12">
						<input type"text" name="post[alt]" placeholder="Descripción imagen (keywords)">
					</div>
					<button id="blog-button" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
				</form>
			</div>
			<h5>Notificar modelo</h5>
			<div class="basic-block row">
				<form action="/tours/update" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="input-field col s4">
						<input type="text" name="tour[id]" placeholder="ID">
					</div>
					<div class="input-field col s8">
						<input type="text" name="tour[public_url]" placeholder="url">
					</div>
					<button id="client-button" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
				</form>
			</div>
		</div>
	</div>
</div>
<% if @contact_success %>
	<div id="contact-success-modal" class="modal">
		<div id="final-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">Contacto agregado</p>
			</div>
		</div>
	</div>
<% end%>
<% if @contact_errors %>
	<div id="contact-success-modal" class="modal">
		<div id="final-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">Error fatal</p>
				<ul>
					<% @contact_errors.each do |error| %>
						<li><%=error%></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% end%>
<% if @institution_success %>
	<div id="contact-success-modal" class="modal">
		<div id="final-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">Organización agregada</p>
			</div>
		</div>
	</div>
<% end %>
<% if @institution_errors %>
	<div id="contact-success-modal" class="modal">
		<div id="final-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">Error fatal</p>
				<ul>
					<% @institution_errors.each do |error| %>
						<li><%=error%></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% end%>
<% if @product_success %>
	<div id="contact-success-modal" class="modal">
		<div id="final-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">Modelo agregado</p>
			</div>
		</div>
	</div>
<% end %>
<% if @product_errors %>
	<div id="contact-success-modal" class="modal">
		<div id="final-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">Error fatal</p>
				<ul>
					<% @product_errors.each do |error| %>
						<li><%=error%></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% end%>