<script>

	$(window).load(function() {
		Materialize.toast('Versión de prueba<br>¡Iniciamos operaciones próximamente!', 4000)
	})

  $(function(){
      $("#b-subtitle-tour, #c-subtitle-tour").typed({
        strings: ["^1200¡Presume tu espacio!^1200","^1200Inmuebles en venta", "^1200Departamento muestra", "^1200Hoteles, bares y restaurantes", "^1200Espacios culturales", "^1200Desde $2,740 pesos^3000"],
        typeSpeed: 0,
        backDelay: 1000,
        loop: true,
      });
  });
</script>
<script>


  $(document).ready(function(){

    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    
    if($('#success-modal').length) {
    	$('#success-modal').openModal()
    	$.get()
    }

    if($('#wire-modal').length) {
    	$('#wire-modal').openModal()
    	$.get()
    }

    $('.tour-modal-trigger').leanModal()

	$('.terms_label').click(function() {
	    $('#legal').attr('checked', 'checked')
	    $('#legal-button').removeAttr('disabled', true).addClass("animated pulse")
	})

	$('#legal_form').submit(function() {
		$('#tour-first').hide()
		$('#tour-second').show()
		$('#tour-zero-b-scrollspy').addClass('active animated pulse')
		return false
	})

	$('#tour-price-form').submit(function() {
		$.post(
			'/virtualtour/setPrice',
			$(this).serialize(),
			function(data) {
				console.log(data)
				$('#tour-second-b').hide()
				$('#tour-third-b').show()
				$('#tour-second-b-scrollspy').removeClass('active anomated pulse')
				$('#tour-third-b-scrollspy').addClass('active animated pulse')
			},
			"json"
		)
		return false	
	})

	$('#price-link').click(function() {
		$('#b-price-table').addClass('active animated pulse')
	})

    var setTime = function(hours) {
			console.log('Setting time')
			$('.timepicker').pickatime({
				min: [8,0],
				max: [17,0],
				interval: 180,
				disable: hours.hours,
				close: "Cerrar",
				closeOnSelect: true,
			})
		}

		$('#date_selector').change(function() {
			console.log()
			$('#tour-time-selector').replaceWith('<input id="tour-time-selector" disabled name="appointment[time]" class="timepicker">')
			$.post(
				'/getTime',
				$(this).serialize(),
				function(data) {
					setTime(data)
					$('#tour-time-selector').prop('disabled', false)
					$('#tour-appointment-button-label').removeClass('button-label-inactive').addClass('button-label')
					$('#tour-appointment-button').prop('disabled', true)
					if (data.transfer == false) {
						$('#wire-tab-trigger').addClass('disabled tooltipped').attr({
							"data-tooltip":"Pago con tranferencia disponible únicamente al agendar con cuatro o más días de anticipación.",
							"data-position":"bottom",
						})
					}
					else {
						$('#wire-tab-trigger').tooltip('hide').removeClass('disabled tooltipped').removeAttr('data-tooltip data-position data-tooltip-id')
					}
					$('.tooltipped').tooltip({delay: 50})
				}
			)
			return false
		})

		$('#time-wrapper').on('change', function() {
			console.log('Working')
			$('#tour-appointment-button').removeAttr('disabled', true).addClass("animated pulse")	
		})

		$('#tour-appointment-form').submit(function() {
			$.post(
				'/appointments/tourAppointment',
				$(this).serialize(),
				function(data) {
					console.log(data)
					if ("result" in data) {
						var tourDate = data.tourDate
						var tourTime = data.tourTime
						var short_address = data.short_address
						var client_phone_number = data.client_phone_number
						var client_email = data.client_email
						$('#tour-third-b').hide()
						$('#confirm-table').html('<div class="row"><div class="col s8"><div class="row black-header white-text">FECHA</div><div class="row green-cell">'+tourDate+'</div></div><div class="col s4"><div class="row black-header white-text">HORA</div><div class="row green-cell">'+tourTime+'</div></div></div><div class="row"><div class="col s12"><div class="row black-header white-text">DIRECCIÓN DEL INMUEBLE</div><div class="row green-cell">'+short_address+'</div></div></div><div class="row"><div class="col s6"><div class="row black-header white-text">DIMENSIONES</div><div class="row green-cell">De 150 a 300 m<span class="super-index">2</span></div></div><div class="col s6"><div class="row black-header white-text">TELÉFONO</div><div class="row green-cell">'+client_phone_number+'</div></div></div><div class="row"><div class="s12"><div class="row black-header white-text">CORREO ELECTRÓNICO</div><div class="row green-cell">'+client_email+'</div></div></div>')
						$('#tour-fourth-b').show()
						$('#tour-third-b-scrollspy').removeClass('active animated pulse')
						$('#tour-fourth-b-scrollspy').addClass('active animated pulse')
					}
				}
			)
			return false
		})

		$('#tour-confirmation-button').click(function() {
			$('#tour-fourth-b').hide()
			$('#tour-fifth-b').show()
			$('#tour-fourth-b-scrollspy').removeClass('active animated pulse')
			$('#tour-fifth-b-scrollspy').addClass('active animated pulse')
			$('#down-payment-tr').addClass('green-table-row animated pulse')	
		})


		$('#tour-edit-button').click(function() {
			$('#tour-fourth-b').hide()
			$('#tour-zero-b').show()
			$('#tour-fourth-b-scrollspy').removeClass('active animated pulse')
			$('#tour-zero-b-scrollspy').addClass('active animated pulse')	
		})

		$('#tour-district-selector').change(function() {
			$('#tour-neighborhood-selector').html('')
			$.post(
				'/virtualtour/getNeighborhoods',
				$(this).serialize(),
				function(data) {
					var neighboodOptions = "<option value='' disabled selected>Colonia</option>"
					for(i=0; i<data.neighborhoods.length; i++) {
						neighboodOptions += "<option value='"+data.neighborhoods[i].id+"'>"+data.neighborhoods[i].name+"</option>"
					}
					$('#tour-neighborhood-selector').append(neighboodOptions)
				}
			)
			return false
		})

		$('#tour-neighborhood-selector').change(function() {
			$('#tour-address-button-label').removeClass('button-label-inactive').addClass('button-label')
			$('#tour-address-button').removeAttr('disabled', true).addClass("animated pulse")
		})

		$('#tour-address-form').submit(function() {
			$('#tour-first-b-scrollspy').removeClass('animated shake')
			$.post(
				'/locations',
				$(this).serialize(),
				function(data) {
					console.log(data)
					if ("success" in data) {
						$('.address-error-message-board').hide()
						$('#checkout-board').removeClass('fadeOutRight').addClass('fadeInLeft').show()
						$('#tour-first-b').hide()
						$('#tour-second-b').show()
						$('#tour-first-b-scrollspy').removeClass('active')
						$('#tour-second-b-scrollspy').addClass('active animated pulse')

					}
					else {
						console.log(data.errors)
						var array = data.errors
						var newHTML = []
						for (var i = 0; i < array.length; i++) {
						    newHTML.push('<li class="red-text" style="opacity:0;">' + array[i] + '</li>')
						}
						$('#checkout-board').addClass('animated fadeOutRight').delay(4000).hide()
						$(".address-error-message-board").html("<div class='row'><ul class='stacked_errors'>"+newHTML.join("")+"</ul></div>")
						$('#tour-first-b-scrollspy').addClass('animated shake')
						Materialize.showStaggeredList('.stacked_errors')
					}
				}
			)
			return false
		})


		$('#tour-land-line').click(function() {
			$('#tour-mobile-number').attr("disabled", true)
			$('#tour-land-line-number').removeAttr("disabled")
			$('#tour-message-contact-radio').attr("disabled", true)
			$('#tour-whatsapp-contact-radio').attr("disabled", true)
		})


		$('#tour-mobile').click(function() {
			$('#tour-mobile-number').removeAttr("disabled")
			$('#tour-land-line-number').attr("disabled", true)
			$('#tour-message-contact-radio').removeAttr("disabled")
			$('#tour-whatsapp-contact-radio').removeAttr("disabled")
		})

		$('#tour-land-line-number').mask("(99) 9999-9999")
		$('#tour-mobile-number').mask("(99) 9999-9999")
		$('#tour-card').mask("9999-9999-9999-9999")

		$('#client-form').submit(function(e) {
			$('#tour-zero-b-scrollspy').removeClass('animated shake')
			e.preventDefault()
			var client_form = $('#client-form')
			$.ajax({
					type: "POST",
					url: "/clients",
					data: client_form.serialize(),
					dataType: "json",
					success: function(data) {
						$('.error-message-board').hide()
						$('#checkout-board').removeClass('fadeOutRight').addClass('fadeInLeft').show()
						$('#tour-zero-b').hide()
						$('#tour-first-b').show()
						$('#tour-zero-b-scrollspy').removeClass('active')
						$('#tour-first-b-scrollspy').addClass('active animated pulse')
					},
					error: function(data) {
						var array = data["responseJSON"].errors
						var newHTML = []
						for (var i = 0; i < array.length; i++) {
						    newHTML.push('<li class="red-text" style="opacity:0;">' + array[i] + '</li>')
						}
						$('#checkout-board').addClass('animated fadeOutRight').delay(4000).hide()
						$(".error-message-board").html("<div class='row'><ul class='stacked_errors'>"+newHTML.join("")+"</ul></div>")
						$('#tour-zero-b-scrollspy').addClass('animated shake')
						Materialize.showStaggeredList('.stacked_errors')
					}
				})
			})	


		$('.client-contact').change(function() {
			$('#client-button-label').removeClass('button-label-inactive').addClass('button-label')
			$('#client-button').removeAttr("disabled", true).addClass("animated pulse")
			$('.payment-tab-link').click(function() {
				$('#card-wrapper').show()
			})
  		})

		// Select model size and floorplan

	  	var check_this = function(thatId, floorplanRealPrice, total, downPayment, remainder) {
		  		$('#floorPlan-checkbox-label').click(function() {
		        $('#floorPlan-checkbox').attr('checked', 'checked');	
				$('#floorplan-item-price').empty().html('$'+floorplanRealPrice+'<span class="currency-font"> MXN</span>')
				$('#checkout-total').empty().html('$'+total+'<span class="currency-font"> MXN</span>')
				$('#checkout-down-payment').empty().html('$'+downPayment+'<span class="currency-font"> MXN</span>')
				$('#checkout-remainder').empty().html('$'+remainder+'<span class="currency-font"> MXN</span>')
				$('#charge-button-label').empty().html('Pagar $'+downPayment+' '+'<span class="currency-font inline-currency">MXN</span>')
			})
	  	}

		var setCheckout = function(thisId) {
			$('#floorPlan-checkbox-p').empty()
			var tourPrices = [2740,3320,3880,4400,4960,5580]
			var floorplanPrices = [1240,1380,1520,1660,1800,1940]
			var tourOptionArr = ['tour150','tour300','tour450','tour600','tour750','tour1000']
			var floorplanPrice = 0
			if ($('#floorPlan-checkbox').is(":checked")) {
				var totalArr = [3980,4700,5400,6100,6820,7520]
				var totalShadowArr = [2740,3320,3880,4400,4960,5580]
				var floorplanRealPrices = floorplanPrices
				var floorplanShadowPrices = [0,0,0,0,0,0]
			}
			else {
				var totalArr = tourPrices
				var totalShadowArr = [3980,4700,5400,6100,6820,7520]
				var floorplanRealPrices = [0,0,0,0,0,0]
				var floorplanShadowPrices = floorplanPrices
			}		
			var downPaymentArr = []
			var downPaymentShadowArr = []
			var remainderArr = []
			var remainderShadowArr = []
			for (x=0;x<6;x++) {
				downPaymentArr[x] = totalArr[x]*0.25
				downPaymentShadowArr[x] = totalShadowArr[x]*0.25
				remainderArr[x] = totalArr[x]*0.75
				remainderShadowArr[x] = totalShadowArr[x]*0.75
				if (thisId == tourOptionArr[x]) {
					var tourPrice = tourPrices[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var floorplanPrice = floorplanPrices[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var floorplanRealPrice = floorplanRealPrices[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var floorplanShadowPrice = floorplanShadowPrices[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var total = totalArr[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var totalShadow = totalShadowArr[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var downPayment = downPaymentArr[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var downPaymentShadow = downPaymentShadowArr[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var remainder = remainderArr[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
					var remainderShadow = remainderShadowArr[x].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				}
			}
			$('#floorPlan-checkbox-p').html('<input id="floorPlan-checkbox" name="tour[floorplan]" type="checkbox"><label id="floorPlan-checkbox-label" for="#floorPlan-checkbox" class="valign grey-text text-darken-3" >Agrega un <%= link_to "plano esquemático", asset_path("SchematicFloorplan.jpg"), { :id =>"floorplan-link", :class=>"grey-text text-darken-3", :target => "blank" } %> por <span id="floorplan-price">'+floorplanShadowPrice+'.</span></label>')
			check_this(thisId, floorplanShadowPrice, totalShadow, downPaymentShadow, remainderShadow)		
			$('#tour-item-price').empty().html('$'+tourPrice+'<span class="currency-font"> MXN</span>') 
			$('#floorplan-item-price').empty().html('$'+floorplanRealPrice+'<span class="currency-font"> MXN</span>') 
			$('#checkout-total').empty().html('$'+total+'<span class="currency-font"> MXN</span>') 
			$('#checkout-down-payment').empty().html('$'+downPayment+'<span class="currency-font"> MXN</span>') 
			$('#checkout-remainder').empty().html('$'+remainder+'<span class="currency-font"> MXN</span>')
			$('#charge-button-label').empty().html('Pagar $'+downPayment+' '+'<span class="currency-font inline-currency">MXN</span>')
			$('#checkout-table td').css('color', '#424242')
		}

		$("#tour-price-form input:radio").click(function() {
			$('#price-table tr').removeClass('green-table-row')
			$('#price-table tr').removeClass('animated pulse')
			$(this).parents("tr").addClass('green-table-row').delay(300).addClass('animated pulse')
			$('#price-button-label').removeClass('button-label-inactive').addClass('button-label')
			$('#price-button').removeAttr('disabled', true).addClass("animated pulse")
			var id = this.id
			setCheckout(id)
		})

		$('#wire-button').click(function() {
			console.log('working')
			$('#wire-wrapper').empty().html('<div class="preloader-wrapper small active valign"><div class="spinner-layer spinner-green-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div>')
		})

	})



</script>
<script>
	
	var conektaSuccessResponseHandler = function(token) {
		var $form = $("#card-form")

		/* Inserta el token_id en la forma para que se envíe al servidor */
		$form.append($("<input type='hidden' name='conektaTokenId'>").val(token.id))

		/* and submit */
		$form.get(0).submit()
	}

	var conektaErrorResponseHandler = function(response) {
		$('#charge-wrapper').empty().html('<button id="charge-button" type="submit" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign"><i class="material-icons">send</i></button>')
		var $form = $("#card-form")

		/* Muestra los errores en la forma */
		$form.find(".card-errors").text(response.message_to_purchaser)
		$form.find("button").prop("disabled", false)
	}

	$(function () {
		$("#card-form").submit(function(event) {
			$('#charge-wrapper').empty().html('<div class="preloader-wrapper small active valign"><div class="spinner-layer spinner-green-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div>')
			var $form = $(this)

			// Previene hacer submit más de una vez
			$form.find("button").prop("disabled", true)
			Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler)
			//Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler) //v5+

			// Previene que la información de la forma sea enviada al servidor
			return false
		})
	})


</script>
<div class="dark-screen" style="height: 800px">		
	<video autoplay id="bgvid" loop poster="/assets/tour_video_first_frame.jpg">
		<source src="https://s3.amazonaws.com/static.matterport.com/mp_dotcom_wp/prod/wp-content/uploads/2016/04/18195748/Main-Page-Fly-Through.webmhd.webm" type="video/webm">>
	</video>
	<nav class="transparent z-depth-0" role="navigation">
		<div class="b-container">
			<div class="nav-wrapper">
				<div data-no-turbolink>
					<a href="/" class="brand-logo valign-wrapper hide-on-small-only">
						<img src="/assets/white_logo">
						primeraRaíz | <span id="cdmx">CDMX</span>
					</a>
				</div>
				<div data-no-turbolink>
					<a href="/" class="brand-logo small-logo valign-wrapper hide-on-med-and-up right">
						<img src="/assets/white_logo" style="width:24px;height:24px;">
						primeraRaíz
					</a>
				</div>
				<ul class="right hide-on-med-and-down">
					<li><a id="price-link" href="#tour-price-section">PRECIOS</a></li>
					<li><a id="vt-link" href="#demo-section">DEMO</a></li>
					<li><a class="tour-modal-trigger" href="#tour-modal">CONTRATA</a></li>
					<li><a class="faq-link" href="#FAQ">FAQ</a></li>
<!-- 					 <li><a class="dropdown-button" href="#!" data-activates="dropdown1">TOUR VIRTUAL<i class="material-icons right dropdown-icon">arrow_drop_down</i></a></li> -->
				</ul>
<!-- 				<ul id="dropdown1" class="dropdown-content">
					<li><a id="vt-link" href="/virtualtour">DESCRIPCIÓN</a></li>
					<li><a id="vt-link" href="https://my.matterport.com/show/?m=XzkmtCiUTzN" target="blank">DEMO</a></li>
					<li><a class="tour-modal-trigger" href="#tour-modal">CONTRATA</a></li>
				</ul> -->
				<ul id="nav-mobile" class="side-nav blue-grey-text text-darken-3">
					<li><a id="price-link" href="#tour-price-section">PRECIOS</a></li>
					<li><a id="vt-link" href="#demo-section">DEMO</a></li>
					<li><a class="tour-modal-trigger" href="#tour-modal">CONTRATA</a></li>
					<li><a class="faq-link" href="#FAQ">FAQ</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</div>
	</nav>
	<div id="main">
		<div class="b-container">
			<div class="row title-wrapper valign-wrapper" style="width: 100%">
				<div id="banner" class="col s12 m12 l12">
					<div class="row">
						<h1 id="b-title" class="hide-on-small-only center-align white-text shine">Más que un tour virtual</h1>
						<div id="b-subtitle-container" class="hide-on-small-only center-align white-text">
							<h3 id="b-subtitle-tour"></h3>
						</div>		
						<h1 id="c-title" class="hide-on-med-and-up center-align white-text shine">Más que un tour virtual</h1>
						<div id="c-subtitle-container" class="hide-on-med-and-up center-align white-text">
							<h3 id="c-subtitle-tour"></h3>
						</div>
					</div>
					<br>
					<div class="row center-align">
							<a href="#demo-section" class="b-link tour-button-container">DEMO</a>
							<a href="#tour-modal" class="tour-modal-trigger b-link tour-button-container">CONTRATA</a>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-background">
	<div id="demo-section" class="main-section-wrapper">
		<div class='embed-container'>
		<iframe width="853" height="480" src="https://my.matterport.com/show/?m=qfnRVWH21FK" frameborder="0" allowfullscreen alt="Matterport 3D showcase"></iframe>
		</div>
	</div>	
	<div id="demo-section" class="main-section-wrapper">
		<div class='embed-container'>
		<iframe width="853" height="480" src="https://my.matterport.com/show/?m=y7HZpTczPWg" frameborder="0" allowfullscreen alt="Matterport 3D showcase"></iframe>
		</div>
	</div>	
	<div class="main-section-wrapper">
		<div class='embed-container'>
		<iframe width="853" height="480" src="https://my.matterport.com/show/?m=UoKo1XgsuPi" frameborder="0" allowfullscreen alt="Matterport 3D showcase"></iframe>
		</div>
	</div>
	<div class="main-section-wrapper">
		<div class='embed-container'>
		<iframe width="853" height="480" src="https://my.matterport.com/show/?m=XzkmtCiUTzN" frameborder="0" allowfullscreen alt="Matterport 3D showcase"></iframe>
		</div>
	</div>
	<div class="row main-section-wrapper grey-text text-darken-3">
		<div id="tour-price-section" class="col l6 m6 s12">
			<div id="price-table-container" class="b-container center-align">
				<h4>Precios</h4>
				<table id="b-price-table" class="white-text z-depth-1">
					<thead>
						<tr class="valign-wrapper">
							<th data-field="shoots" class="center-align">Dimensiones del inmueble</th>
							<th data-field="price" class="center-align right">Precio*</th>
						</tr>
					</thead>
					<tbody>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>&#60 150m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$2,740 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>150 – 300m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$3,320 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>300 – 450m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$3,880 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>450 – 600m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$4,440 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>600 – 750m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$4,980 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>750 – 1,000m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$5,580 <span class="currency-font">MXN</span></td>
						</tr>
					</tbody>
				</table>
				<p id="price-warning" class="right-align">*Incluye la generación del tour y acceso en línea por un año. Precios válidos en la Ciudad de México, IVA incluido.</p>
			</div>
		</div>
		<div id="tour-location-section" class="b-container col l6 m6 s12">
			<div class="b-container">
				<h4>Clientes foráneos</h4>
				<p class="flow-text left-align">Nos encanta viajar. Si tienes un inmueble fuera de la Ciudad de México escríbenos a:</p>
				<p class="flow-text left-align"><a class="mail-link" href="mailto:foraneos@primeraraiz.com">foraneos@primeraraiz.com</a></p>
				<p class="flow-text left-align">Elaboramos una cotización especial o te informamos cuando visitemos tu ciudad.</p>
			</div>
		</div>
	</div>
</div>
<div>
	<div id="floorplan-section" class="b-container">
		<h4 class="white-text">Plano esquemático</h4>
		<img id="main-floorplan" class="z-depth-1" src="/SchematicFloorplan.jpg">
	</div>
</div>
<div class="white tight-main-wrapper">
	<div id="FAQ" class="row main-section-wrapper">
		<h4>Preguntas frecuentes</h4>
		<ul class="collapsible popout white-text" data-collapsible="accordion">
			<li>
				<div class="collapsible-header left-align valign-wrapper"><p class="flow-text valign">¿Para qué tipo de espacios es adecuado el tour virtual?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Sólo recomendamos espacios interiores. Por lo demás, podemos hacer un tour en cualquier espacio. Para proyectos de más de 1,000 metros cuadrados es necesario segmentar y contratar más de un tour.</p></div>
			</li>
			<li>
				<div class="collapsible-header left-align"><p class="flow-text">¿Cuánto se tardan en generar un tour virtual?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Según la disponibilidad puedes agendar tu sesión fotográfica con una anticipación mínima de 48 horas. Después de la sesión necesitamos de uno a tres días naturales para procesar el modelo.<br>¡Puedes tener tu tour listo en menos de una semana!</p></div>
			</li>
			<li>
				<div class="collapsible-header left-align"><p class="flow-text">¿Es difícil integrar el tour vitual en mi página web?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Es muy sencillo. Cualquier desarrollador que tenga las credenciales para editar tu página pueda hacer la integración, es cuestión de copiar y pegar el código que te enviaremos.Con todo gusto te proporcionamos el soporte técnico que necesites.</p></div>
			</li>
			<li>
				<div class="collapsible-header left-align"><p class="flow-text">¿Emiten facturas?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Por supuesto, para solicitar tu factura sólo envía los datos fiscales a facturacion@primeraraiz.com antes de que concluya el mes durante el cual realizaste el pago a facturar. Es necesario que envíes tus datos desde la cuenta de correo que registraste al contratar el tour virtual.</p></div>
			</li>
		</ul>
	</div>
</div>
<div class="row b-container almost-footer valign-wrapper">
		<img class="affiliation-frame valign double-extra-right" src="/assets/matterport-service-partner.png" alt="matterport">
		<i class="white-text fa fa-facebook-official fa-4x valign extra-right" aria-hidden="true"></i>
		<i class="white-text fa fa-instagram fa-4x valign extra-right" aria-hidden="true"></i>
</div>
<div id="tour-modal" class="modal">
	<div id="tour-header" class="modal-content">
		<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
		<p class="primera">primera<span class="raiz">Raíz</span></p>
	</div>
	<div id="tour-first">
		<div class="modal-content">
			<div class="row"> 
				<div class="col s12 grey-text text-darken-3">
					<h5>Características del tour virtual</h5>
					<ul id="tour-features">
						<li>Recomendado para espacios interiores de hasta 1,000 m<span class="super-index">2</span>.</li>
						<li>Consulta en la dirección proporcionada por Primera Raíz, o fácil integración en tu página web.</li>
						<li>Incluye la generación de tour virtual y el acceso al modelo en línea por un año.</li>
						<li>Controles de navegación en inglés.</li>
						<li>Servicio disponible en la Zona Metropolitana del Valle de México.</li>
					</ul>
				</div>
			</div>	
			<form id="legal_form" class="row valign-wrapper" style="width:100%">
				<div class="col s8">
					<input type="checkbox" id="legal" class="valign">
	<!-- 				<label class="terms_label valign grey-text text-darken-3" for="#legal">Acepto los <a class="grey-text text-darken-3" href="/legal">términos y condiciones</a>.</label> -->
					<label class="terms_label valign grey-text text-darken-3" for="#legal">Acepto los <%= link_to "términos y condiciones", asset_path("Primera Raíz - Términos y Condiciones.pdf"), { :class=>"grey-text text-darken-3", :target => "blank" } %>.</label>
				</div>
				<div class="col s4">
					<button id="legal-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
				</div>
			</form>
		</div>
	</div>
	<div id="tour-second" style="display:none">
		<div class="modal-content">
			<div class="row">
				<div id="tour-scroller" class="col l6 m6 s12 tour-right-column hide-on-small-only">
					<ul class="section table-of-contents">
						<li><a id="tour-zero-b-scrollspy" class="scrollspy-li" href="#tour-zero-b">Datos de contacto</a></li>
						<li><a id="tour-first-b-scrollspy" class="scrollspy-li" href="#tour-first-b">Dirección del inmueble</a></li>
						<li><a id="tour-second-b-scrollspy" class="scrollspy-li" href="#tour-second-b">Dimensiones</a></li>
						<li><a id="tour-third-b-scrollspy" class="scrollspy-li" href="#tour-third-b">Fecha y hora</a></li>
						<li><a id="tour-fourth-b-scrollspy" class="scrollspy-li" href="#tour-fourth-b">Confirmación</a></li>
						<li><a id="tour-fifth-b-scrollspy" class="scrollspy-li" href="#tour-fifth-b">Pago anticipo</a></li>
					</ul>
					<div id="checkout-board" class="valign-wrapper">
						<div class="row">
							<div class="col s12">
								<p class="right-align light-green-text text-accent-4"><i class="material-icons">shopping_cart</i></p>
								<table id="checkout-table">
									<tbody>
										<tr>
											<td>Tour virtual</td>
											<td id="tour-item-price" class="right-align">$0<span class="currency-font"> MXN</span></td>
										</tr>
										<tr>
											<td>Plano esquemático</td>
											<td id="floorplan-item-price" class="right-align">$0<span class="currency-font"> MXN</span></td>
										</tr>
										<tr id="total-tr" class="break-tr">
											<td>Total</td>
											<td id="checkout-total" class="right-align">$0<span class="currency-font"> MXN</span></td>
										</tr>
										<tr id="down-payment-tr">
											<td>Anticipo</td>
											<td id="checkout-down-payment" class="right-align">$0<span class="currency-font"> MXN</span></td>
										</tr>
										<tr>
											<td>Saldo</td>
											<td id="checkout-remainder" class="right-align">$0<span  class="currency-font"> MXN</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="error-message-board"></div>
					<div class="address-error-message-board"></div>
				</div>	
				<div id="tour-zero-b" class="col l6 m6 s12 tour-left-column">
					<h5 class="hide-on-med-and-up">Datos de contacto</h5>
					<form id="client-form" action="/clients" method="post">
						<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
						<div class="row">
							<div class="input-field col s12">
								<input type="text" name="client[name]" placeholder="Nombre">
							</div>
							<div class="input-field col s12">
								<input type="text" name="client[email]" placeholder="Correo electrónico">
							</div>
							<div class="input-field col s5 radio-wrapper valign-wrapper">
								<input class="with-gap valign" name="phone_type" value="mobile" type="radio" id="tour-mobile" checked="checked">
								<label for="tour-mobile" class="valign">Celular</label>
							</div>
							<div class="input-field col s7">
								<input id="tour-mobile-number" type="text" name="client[mobile_phone]" placeholder="Número (10 dígitos)">
							</div>
							<div class="input-field col s5 valign-wrapper radio-wrapper">
								<input class="with-gap valign" name="phone_type" value="land_line" type="radio" id="tour-land-line">
								<label for="tour-land-line" class="valign">Fijo</label>
							</div>
							<div class="input-field col s7">
								<input id="tour-land-line-number" type="text" name="client[other_phone]" placeholder="Número (10 dígitos)" disabled>
							</div>
							<p>¿Cómo prefieres que te contactemos?</p>
							<div class="input-field col s6">
								<input id="tour-email-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="email">
								<label for="tour-email-contact-radio" class="valign">Correo</label>
							</div>
							<div class="input-field col s6">
								<input id="tour-phone-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="phone">
								<label for="tour-phone-contact-radio">Teléfono</label>
							</div>
							<div class="input-field col s6">
								<input id="tour-whatsapp-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="whatsapp">
								<label for="tour-whatsapp-contact-radio">WhatsApp</label>
							</div>
							<div class="input-field col s6">
								<input id="tour-message-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="message">
								<label for="tour-message-contact-radio">Mensaje SMS</label>
							</div>
						</div>
						<div class="error-message-board hide-on-med-and-up"></div>
						<p class="valign-wrapper right">
							<span id="client-button-label" class="button-label-inactive">Siguiente</span>
							<button id="client-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-first-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Dirección del inmueble</h5>
					<p class="header-note">Ingresa la dirección del inmueble en el que realizaremos el tour virtual.</p>
					<form id="tour-address-form" action="/locations" method="post">
						<div class="row">
							<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							<div class="input-field col s12">
								<input type="text" name="location[street]" placeholder="Calle">
							</div>
							<div class="input-field col s5">
								<input type="text" name="location[number]" placeholder="Núm. exterior">
							</div>
							<div class="input-field col s5 offset-s2">
								<input type="text" name="location[unit]" placeholder="Núm. interior">
							</div>
							<div class="input-field col s12">
								<select id="tour-district-selector" name="location[district]" class="anti-default browser-default">
									<option value="" disabled selected>Delegación/Municipio</option>
									<% @areas.each do |area| %>
										<option><%=area%></option>
									<% end %>
								</select>
							</div>
							<div class="input-field col s12">
								<select id="tour-neighborhood-selector" name="location[area_id]" class="anti-default browser-default">
									<option value="" disabled selected>Colonia</option>
								</select>
							</div>
						</div>
						<div class="address-error-message-board hide-on-med-and-up"></div>
						<p class="valign-wrapper right">
							<span id="tour-address-button-label" class="button-label-inactive">Siguiente</span>
							<button id="tour-address-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-second-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Dimensiones</h5>
					<p class="header-note">Selecciona una opción de acuerdo a las dimensiones del inmueble.</p>
					<form id="tour-price-form" action="/virtualtour/setPrice" method="post">
						<table id="price-table" class="striped z-depth-1">
							<thead>
								<tr class="valign-wrapper">
									<th data-field="shoots" class="center-align">Dimensiones del inmueble</th>
									<th data-field="price" class="center-align">Precio</th>
								</tr>
							</thead>
							<tbody>
								<tr class="valign-wrapper">
									<td class="table-left-column valign">
										<input name="tour[model_fee]" value="2740" class="with-gap" type="radio" id="tour150" />
										<label for="tour150">&#60 150m<span class="super-index">2</span></label>
									</td>
									<td class="right td-right valign"><%= @modelPrices[0] %><span class="currency-font">MXN</span></td>
								</tr>
								<tr class="valign-wrapper">
									<td class="table-left-column valign">
										<input name="tour[model_fee]" value="3320" class="with-gap" type="radio" id="tour300" />
										<label for="tour300">150 – 300m<span class="super-index">2</span></label>
									</td>
									<td class="right td-right valign"><%= @modelPrices[1] %><span class="currency-font">MXN</span></td>
								</tr>
								<tr class="valign-wrapper">
									<td class="table-left-column valign">
										<input name="tour[model_fee]" value="3880" class="with-gap" type="radio" id="tour450" />
										<label for="tour450">300 – 450m<span class="super-index">2</span></label>
									</td>
									<td class="right td-right valign"><%= @modelPrices[2] %><span class="currency-font">MXN</span></td>
								</tr>
								<tr class="valign-wrapper">
									<td class="table-left-column valign">
										<input name="tour[model_fee]" value="4440" class="with-gap" type="radio" id="tour600" />
										<label for="tour600">450 – 600m<span class="super-index">2</span></label>
									</td>
									<td class="right td-right valign"><%= @modelPrices[3] %><span class="currency-font">MXN</span></td>
								</tr>
								<tr class="valign-wrapper">
									<td class="table-left-column valign">
										<input name="tour[model_fee]" value="5020" class="with-gap" type="radio" id="tour750" />
										<label for="tour750">600 – 750m<span class="super-index">2</span></label>
									</td>
									<td class="right td-right valign"><%= @modelPrices[4] %><span class="currency-font">MXN</span></td>
								</tr>
								<tr class="valign-wrapper">
									<td class="table-left-column valign">
										<input name="tour[model_fee]" value="5580" class="with-gap" type="radio" id="tour1000" />
										<label for="tour1000">750 – 1,000m<span class="super-index">2</span></label>
									</td>
									<td class="right td-right valign"><%= @modelPrices[5] %><span class="currency-font">MXN</span></td>
								</tr>
							</tbody>
						</table>
						<div id="floorPlan-wrapper">
							<p id="floorPlan-checkbox-p">
								<input id="floorPlan-checkbox" name="tour[floorplan]" type="checkbox">
								<label id="floorPlan-checkbox-label" for="#floorPlan-checkbox" class="valign grey-text text-darken-3" >
									Agrega un <%= link_to "plano esquemático", asset_path("SchematicFloorplan.jpg"), { :id =>"floorplan-link", :class=>"grey-text text-darken-3", :target => "blank" } %> por <span id="floorplan-price">$0</span>.
								</label>
							</p>
						</div>
						<p class="valign-wrapper right">
							<span id="price-button-label" class="button-label-inactive">Siguiente</span>
							<button id="price-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-third-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Fecha y hora</h5>
					<p class="header-note">Considera que se necesitan <%= session[:timeSpean] %> horas para fotografiar el inmueble y se recomienda evitar el paso de personas.</p>
					<form id="tour-appointment-form" action="/appointments/tourAppointment" method="post">
						<div class="row">
							<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							<div class="input-field col s12">
								<input id="date_selector" type="text" name="appointment[date]" class="datepicker" placeholder="Fecha">
							</div>
							<div id="time-wrapper" class="input-field col s12">
								<input id="tour-time-selector" disabled name="appointment[time]" class="timepicker" placeholder="Hora">
							</div>
						</div>
						<p class="valign-wrapper right">
							<span id="tour-appointment-button-label" class="button-label-inactive">Siguiente</span>
							<button id="tour-appointment-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-fourth-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Confirmación</h5>
					<div>
						<p>Por favor, revisa que la información para la contratación del tour virtual sea correcta</p>
						<div id="confirm-table" class="z-depth-1 animated pulse">
						</div>
					</div>
					<p class="col s6 valign-wrapper left">
						<span class="button-label">Editar</span>
						<a id="tour-edit-button" href="/destroyclient" data-remote=true>
							<button class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign"><i class="material-icons">fast_rewind</i></button>
						</a>
					</p>
					<p class="col s6 valign-wrapper right">
						<span class="button-label">Siguiente</span>
						<button id="tour-confirmation-button" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign"><i class="material-icons">done</i></button>
					</p>
				</div>
				<div id="tour-fifth-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Pago anticipo</h5>
					<p>Selecciona una opción para el pago:</p>
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s6"><a class="payment-tab-link" href="#card-tab">Tarjeta</a></li>
								<li id="wire-tab-trigger" class="tab col s6"><a class="payment-tab-link" href="#wire-tab">Transferencia</a></li>
							</ul>
						</div>
						<div id="card-wrapper" style="display:none">
							<div id="card-tab" class="col s12">
								<div id="credit-card-row" class="row">
									<div class="payment-type col s3">
										CRÉDITO:
									</div>
									<div class="payment-type col s9">
										<i class="fa fa-right fa-cc-visa fa-2x grey-text text-darken-3"></i>
										<i class="fa fa-right fa-cc-mastercard fa-2x grey-text text-darken-3"></i>
									</div>
									<div class="payment-type col s3">
										DÉBITO:
									</div>
									<div class="col s9">
										<span id="bank_names">Banamex HSBC Inbursa Santander</span>
									</div>
								</div>
								<%= form_tag('/charges/create', id: 'card-form', :remote => true) do %>
									<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
								  	<div class="col s12">
								    	<label>
								      		<span>Nombre del tarjetahabiente</span>
								      		<input type="text" size="20" data-conekta="card[name]"/>
								    	</label>
								  	</div>
								  	<div class="col s8">
								    	<label>
								      		<span>Número de tarjeta</span>
								      		<input id="tour-card" type="text" size="20" data-conekta="card[number]"/>
								    	</label>
								  	</div>
								  	<div class="col s3 offset-s1">
								    	<label>
								      		<span>CVC</span>
								      		<input type="text" size="4" data-conekta="card[cvc]"/>
								    	</label>
								  	</div>
								  	<div class="form-row">
								    	<label>
								      		<span>Fecha de expiración</span>
								      		<div class="col s5">
								      			<input type="text" size="2" placeholder="MM" data-conekta="card[exp_month]"/>
								      		</div>
								      		<div class="col s6 offset-s1">
								      			<input type="text" size="4" placeholder="AAAA" data-conekta="card[exp_year]"/>
								      		</div>	
								    	</label>
								  	</div>
								<!-- Información recomendada para sistema antifraude -->
								  <div class="col s12">
								    <label>
								      <span>Dirección (calle y núm.)</span>
								      <input type="text" size="25" data-conekta="card[address][street1]"/>
								    </label>
								  </div>
								<div class="col s12">
								    <label>
								      <span>Dirección (colonia)</span>
								      <input type="text" size="25" data-conekta="card[address][street2]"/>
								    </label>
								</div>
								<div class="col s5">
								    <label>
								      <span>País</span>
								      <input type="text" size="25" data-conekta="card[address][country]"/>
								    </label>
								</div>
								<div class="col s6 offset-s1">
								    <label>
								      <span>Estado</span>
								      <input type="text" size="25" data-conekta="card[address][state]"/>
								    </label>
								</div>
								<div class="col s5">
								    <label>
								      <span>Ciudad</span>
								      <input type="text" size="25" data-conekta="card[address][city]"/>
								    </label>
								</div>
								<div class="col s6 offset-s1">
								    <label>
								      <span>CP</span>
								      <input type="text" size="5" data-conekta="card[address][zip]"/>
								    </label>
								</div>
							  	<span class="card-errors"></span>
							  	<p class="valign-wrapper right">
									<span id="charge-button-label" class="button-label valign"></span>
									<span id="charge-wrapper" class="valign-wrapper valign">
										<button id="charge-button" type="submit" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign"><i class="material-icons">send</i></button>
									</span>
								</p>
								<% end %>
							</div>
							<div id="wire-tab" class="col s12">
								<div class="row">
									<div class="col s2">
										<p>
											<i class="material-icons grey-text text-darken-3 small">warning</i>
										</p>
									</div>
									<div class="no-padding-p col s10">
										<p>Es necesario que realices la transferencia en las próximas 48 horas. De lo contrario, la sesión fotográfica será cancelada.</p>
										<p>Para continuar da click en "enviar".</p>
									</div>
								</div>
								<p class="valign-wrapper right">
									<span id="wire-button-label" class="button-label valign">Enviar</span>
									<span id="wire-wrapper" class="valign-wrapper valign">
										<a id="wire-button" href="/tours/wire" class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign"><i class="material-icons">send</i></a>
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<% if session[:charge] %>
	<div id="success-modal" class="modal">
		<div id="tour-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">¡Transacción exitosa! <br>Enviamos un mensaje con información importante a <%= session[:client_email] %></p>
			</div>
		</div>
	</div>
<% end %>
<% if @wire %>
	<div id="wire-modal" class="modal">
		<div id="tour-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p>¡Gracias por tu preferencia!<br>Por favor, realiza el depósito por <%= @downPayment %><span id="transfer-amount"></span><span class="currency-font"> MXN</span> a la siguiente cuenta:</p>
				<table id="transfer-table" class="green-table white-text z-depth-1">
					<tbody>
						<tr>
							<td class="bold-cell">Beneficiario:</td><td>Roberto Valladares Piedras</td>
						</tr>
						<tr>
							<td class="bold-cell">Banco:</td><td>Banorte / IXE</td>
						</tr>
						<tr>
							<td class="bold-cell">Cuenta:</td><td>0011614706</td>
						</tr>
						<tr>
							<td class="bold-cell">Clabe:</td><td>072180000116147064</td>
						</tr>
					</tbody>
				</table>
				<p>En el concepto de la tranferencia por favor escribe <span class="bold-cell">tour<%=session[:tour_id]%></span>.</p>
				<p>No dudes en comunicarte con nosotros para cualquier duda a <a href="mailto:contacto@primeraraiz.com" class="mail-link">contacto@primeraraiz.com</a> o al <a href="tel:5544545312" class="mail-link">(044) 55 4454 5312</a></p>
			</div>
		</div>
	</div>
<% end %>

