<script>

	// $(window).load(function() {
	// 	Materialize.toast('¡Contrata antes del 30 de septiembre y aprovecha nuestros precios de introducción!', 4000)
	// })

  $(function(){
      $("#b-subtitle-tour, #c-subtitle-tour").typed({
        strings: ["^1200¡Presume tu espacio!^1200","^1200Inmuebles en venta", "^1200Departamento muestra", "^1200Hoteles, bares y restaurantes", "^1200Espacios culturales", "^1200Desde $3,480 pesos^3000"],
        typeSpeed: 0,
        backDelay: 1000,
        loop: true,
      });
  });
</script>
<script>
	
	

  $(document).ready(function(){

    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    
    if($('#success-modal').length) {
    	$('#success-modal').openModal()
    	$.get()
    }

    if($('#wire-modal').length) {
    	$('#wire-modal').openModal()
    	$.get()
    }

    if($('#final-modal').length) {
    	$('#final-modal').openModal()
    	$.get()
    }

    if($('#fail-modal').length) {
    	$('#fail-modal').openModal()
    	$.get()
    }

    $('.tour-modal-trigger').click(function() {
    	$('#false-tour-modal').addClass('animated bounce').show()
    	$('.title-wrapper').hide()
    })

	$('#subscription').click(function() {
		$('#subscription-checkbox').removeAttr('checked')
		$('#subscription-line').addClass('animated fadeOutRight')
	})

	$('.terms_label').click(function() {
	    $('#legal').attr('checked', 'checked')
	    $('#legal-button').removeAttr('disabled', true).addClass("animated pulse")
	})


	$('#price-link').click(function() {
		$('#b-price-table').addClass('active animated pulse')
	})


		$('#time-wrapper').on('change', function() {
			console.log('Working')
			$('#tour-appointment-button').removeAttr('disabled', true).addClass("animated pulse")	
		})

		$('#tour-appointment-form').submit(function() {
			$.post(
				'/appointments/tourAppointment',
				$(this).serialize(),
				function(data) {
					console.log(data)
					if ("result" in data) {
						var tourDate = data.tourDate
						var tourTime = data.tourTime
						var short_address = data.short_address
						var client_phone_number = data.client_phone_number
						var client_email = data.client_email
						$('#tour-third-b').hide()
						$('#confirm-table').html('<div class="row"><div class="col s8"><div class="row black-header white-text">FECHA</div><div class="row green-cell">'+tourDate+'</div></div><div class="col s4"><div class="row black-header white-text">HORA</div><div class="row green-cell">'+tourTime+'</div></div></div><div class="row"><div class="col s12"><div class="row black-header white-text">DIRECCIÓN DEL INMUEBLE</div><div class="row green-cell">'+short_address+'</div></div></div><div class="row"><div class="col s6"><div class="row black-header white-text">DIMENSIONES</div><div class="row green-cell">De 150 a 300 m<span class="super-index">2</span></div></div><div class="col s6"><div class="row black-header white-text">TELÉFONO</div><div class="row green-cell">'+client_phone_number+'</div></div></div><div class="row"><div class="s12"><div class="row black-header white-text">CORREO ELECTRÓNICO</div><div class="row green-cell">'+client_email+'</div></div></div>')
						$('#tour-fourth-b').show()
						$('#tour-third-b-scrollspy').removeClass('active animated pulse')
						$('#tour-fourth-b-scrollspy').addClass('active animated pulse')
					}
				}
			)
			return false
		})

		$('#tour-confirmation-button').click(function() {
			$('#tour-fourth-b').hide()
			$('#tour-fifth-b').show()
			$('#tour-fourth-b-scrollspy').removeClass('active animated pulse')
			$('#tour-fifth-b-scrollspy').addClass('active animated pulse')
			$('#down-payment-tr').addClass('green-table-row animated pulse')	
		})


		$('#tour-edit-button').click(function() {
			$('#tour-fourth-b').hide()
			$('#tour-zero-b').show()
			$('#tour-fourth-b-scrollspy').removeClass('active animated pulse')
			$('#tour-zero-b-scrollspy').addClass('active animated pulse')	
		})

		// CASAS Y TERRENOS

		// $('#gdl-label').click(function() {
		// 	$('#tour-features-wrappe').removeClass('animated fadeInLeft').show()
		// 	$('#tour-features-wrapper').addClass('animated fadeOutRight').delay(4000).hide()
		// 	$('#casas-y-terrenos-wrapper').removeClass('animated fadeOutRight').show()
		// 	$('#casas-y-terrenos-wrapper').addClass('animated fadeInLeft').show()
		// })

		// $('#cdmx-label, #qro-label').click(function() {
		// 	$('#casas-y-terrenos-wrapper').removeClass('animated fadeInLeft').show()
		// 	$('#casas-y-terrenos-wrapper').addClass('animated fadeOutRight').delay(4000).hide()
		// 	$('#tour-features-wrapper').removeClass('animated fadeOutRight')
		// 	$('#tour-features-wrapper').addClass('animated fadeInLeft').show()
		// })


  		// Change metro area

  		$('.metro-area').change(function() {
  			$('#secret-checkbox').addClass('animated fadeInLeft').show()
  			$('#tour-district-selector').html('')
  			$.post(
  				'/virtualtour/getDistricts',
  				$(this).serialize(),
  				function(data) {
  					var districtOptions = "<option value='' disabled selected>Delegación/Municipio</option>"
  					for(i=0; i<data.districts.length; i++) {
  						districtOptions += "<option value='"+data.districts[i].district+"'>"+data.districts[i].district+"</option>"
  					}
					$('#tour-district-selector').append(districtOptions)
					$('#metro_area-link').attr("href", "/virtualtour/"+data.city)				
  				}
  			)
  			return false
  		})

	    }

	)

</script>
<div class="dark-screen" style="height: 800px">		
	<video autoplay id="bgvid" loop poster="/assets/tour_video_first_frame.jpg" alt="Matterport">
		<source src="https://s3.amazonaws.com/static.matterport.com/mp_dotcom_wp/prod/wp-content/uploads/2016/04/18195748/Main-Page-Fly-Through.webmhd.webm" type="video/webm">>
	</video>
	<nav class="transparent z-depth-0" role="navigation">
		<div class="b-container">
			<div class="nav-wrapper">
				<div data-no-turbolink>
					<a href="/" class="brand-logo valign-wrapper hide-on-small-only">
						<img alt="tour virtual México Primera Raíz" src="/assets/white_logo">
						primeraRaíz | <span id="cdmx">MX</span>
					</a>
				</div>
				<div data-no-turbolink>
					<a href="/" class="brand-logo small-logo valign-wrapper hide-on-med-and-up right">
						<img alt="tour virtual México Primera Raíz" src="/assets/white_logo" style="width:24px;height:24px;">
						primeraRaíz
					</a>
				</div>
				<ul class="right hide-on-med-and-down">
					<li><a id="price-link" href="#tour-price-section">PRECIOS</a></li>
					<li><a id="vt-link" href="#demo-section">DEMO</a></li>
					<li><a id="vt-link" href="#video-section">VIDEO</a></li>
					<li><a class="tour-modal-trigger" href="#tour-modal">CONTRATA</a></li>
					<li><a class="faq-link" href="#FAQ">FAQ</a></li>
					<li><a href="/posts">BLOG</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav blue-grey-text text-darken-3">
					<li><a id="price-link" href="#tour-price-section">PRECIOS</a></li>
					<li><a id="vt-link" href="#demo-section">DEMO</a></li>
					<li><a id="vt-link" href="#video-section">VIDEO</a></li>
					<li><a class="tour-modal-trigger" href="#tour-modal">CONTRATA</a></li>
					<li><a class="faq-link" href="#FAQ">FAQ</a></li>
					<li><a href="/posts">BLOG</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</div>
	</nav>
	<div id="main">
		<div class="b-container">

<!-- 			REPLACE MODAL
 -->
			<div class="container">
				<div id="false-tour-modal" class="central-card white z-depth-2" style="display:none">

					<div id="tour-header" class="modal-content">
						<img alt="recorrido virtual México" src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
						<p class="primera">primera<span class="raiz">Raíz</span></p>
					</div>
					<div id="tour-first">
						<div class="modal-content">
							<div class="row"> 
								<div class="col s12 grey-text text-darken-3">
									<div id="tour-features-wrapper">
										<h5>Características del tour virtual</h5>
										<ul id="tour-features">
											<li>Recomendado para espacios interiores de hasta 1,000 m<span class="super-index">2</span>.</li>
											<li>Difunde el modelo en redes sociales o intégralo a tu página web.</li>
											<li>Incluye la generación de tour virtual y el acceso al modelo en línea por un año.</li>
										</ul>
									</div>
									<div id="casas-y-terrenos-wrapper" style="display:none">
										<div id="casas-upper-row" class="row">
											<div class="col l6 m6 s12">
												<input id="casas-code" type="text" class="valign" placeholder="Ingresa código">
											</div>
											<div class="col l6 m6 s12">
												<img href="http://www.casasyterrenos.com/" id="casas-y-terrenos-logo" src="/assets/casasyterrenos.png" height="35px" class="right">
											</div>
										</div>
										<div class="row">
											<div class="col l12 m12 s12">
												<p class="small-p">Obtén tu código promocial al anunciar en Casas y Terrenos, y recibe 10% al contratar un tour de 150m<span class="big-super-index">2</span> o más.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="metro-area-row" class="row">
								<div class="col s12">
									<h5>¿Dónde se ubica tu inmueble?</h5>
								</div>
								<div itemscope itemtype ="http://schema.org/City">
									<div class="input-field col l3 m3 s6">
									<input id="metro-area-cdmx-radio" type="radio" name="location[metro_area]" class="metro-area with-gap" value="CDMX">
									<label id="cdmx-label" for="metro-area-cdmx-radio" itemprop="name">CDMX</label>
									</div>
								</div>
								<div itemscope itemtype ="http://schema.org/City">
									<div class="input-field col l3 m3 s6">
										<input id="metro-area-gdl-radio" type="radio" name="location[metro_area]" class="metro-area with-gap" value="Guadalajara">
										<label id="gdl-label" for="metro-area-gdl-radio" itemprop="name">Guadalajara</label>
									</div>
								</div>
								<div class="input-field col l6 m6 s12">
									<input id="metro-area-qro-radio" type="radio" name="location[metro_area]" class="metro-area with-gap" value="Querétaro">
									<label id="qro-label" for="metro-area-qro-radio">Querétaro/San Miguel</label>
								</div>
							</div>
							<div class="row">
								<p class="standard-p">*Para servicios en el resto de la república escríbenos a <a class="mail-link" href="mailto:contacto@primeraraiz.com">contacto@primeraraiz.com</a>.</p>
							</div>
							<div class="col s8">
								<form class="row valign-wrapper" style="width:100%">
									<a href="/clients/switch" data-remote=true>
										<div id="subscription-wrapper">
											<div id="subscription-line" class="col s12">
												<input type="checkbox" id="subscription-checkbox" class="valign" checked>
													<label id="subscription" class="valign grey-text text-darken-3">Deseo recibir información y promociones de Primera Raíz.</label>
											</div>
										</div>
									</a>
								</form>
							</div>
							<div id="legal_form" class="row valign-wrapper" style="width:100%">	
<!-- 							<form id="legal_form" class="row valign-wrapper" style="width:100%">
	 -->							<div class="col s8">
	 									<div id="secret-checkbox" style="display:none">
											<input type="checkbox" id="legal" class="valign">
											<label class="terms_label valign grey-text text-darken-3" for="#legal">Acepto los <%= link_to "términos y condiciones", asset_path("Primera Raíz - Términos y Condiciones.pdf"), { :class=>"grey-text text-darken-3", :target => "blank" } %>.
											</label>
										</div>
									</div>
									<div class="col s4 right">
										<a id="metro_area-link" href="/virtualtour/<%=session[:metro_area]%>"><button  id="legal-button" disabled class="corner-button light-green accent-4 btn-floating btn-small waves-effect waves-light right valign"><i class="material-icons">send</i></button></a>
									</div>
<!-- 							</form>
 -->						</div>
						</div>
					</div>
				</div>
			</div>
<!-- 				END MODAL REPLACEMENT
 -->				
			<div class="row title-wrapper valign-wrapper" style="width: 100%">
				<div id="banner" class="col s12 m12 l12">
					<div class="row">
						<h1 id="b-title" class="hide-on-small-only center-align white-text shine">Tu inmueble en realidad virtual</h1>
						<div id="b-subtitle-container" class="hide-on-small-only center-align white-text">
							<h3 id="b-subtitle-tour"></h3>
						</div>		
						<h1 id="c-title" class="hide-on-med-and-up center-align white-text shine">Tu inmueble en realidad virtual</h1>
						<div id="c-subtitle-container" class="hide-on-med-and-up center-align white-text">
							<h3 id="c-subtitle-tour"></h3>
						</div>
					</div>
					<br>
					<div class="row center-align">
							<a href="#demo-section" class="b-link tour-button-container">DEMO</a>
							<a href="#tour-modal" class="tour-modal-trigger b-link tour-button-container">CONTRATA</a>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-background">
	<div id="demo-section" class="row">
		<% @portafolio.each do |url| %>
			<div class='main-section-wrapper col l6 m6 s12'>
				<iframe width="100%" height="480" src=<%=url%> frameborder="0" allowfullscreen alt="San Miguel de Allende Matterport 3D showcase"></iframe>
			</div>
		<% end %>
	</div>
	<div class="row main-section-wrapper grey-text text-darken-3">
		<div id="tour-price-section" class="col l6 m6 s12">
			<div id="price-table-container" class="b-container center-align">
				<h4>Precios</h4>
				<table id="b-price-table" class="white-text z-depth-1">
					<thead>
						<tr class="valign-wrapper">
							<th data-field="shoots" class="center-align">Dimensiones del inmueble</th>
							<th data-field="price" class="center-align right">Precio*</th>
						</tr>
					</thead>
					<tbody>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>&#60 150m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$3,480 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>150 – 300m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$4,176 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>300 – 450m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$4,872 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>450 – 600m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$5,568 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>600 – 750m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$6,264 <span class="currency-font">MXN</span></td>
						</tr>
						<tr class="body-row valign-wrapper">
							<td class="table-left-column valign">
								<p>750 – 1,000m<span class="super-index">2</span></p>
							</td>
							<td class="right td-right valign">$6,960 <span class="currency-font">MXN</span></td>
						</tr>
					</tbody>
				</table>
				<p id="price-warning" class="right-align">*Incluye hospedaje en línea por un año. Precios válidos para proyectos residenciales en la Ciudad de México, IVA incluido.</p>
			</div>
		</div>
		<div id="tour-location-section" class="b-container col l6 m6 s12">
			<div class="b-container">
				<h4>Clientes foráneos</h4>
				<p class="flow-text left-align">Nos encanta viajar. Si tienes un inmueble fuera de la Ciudad de México, escríbenos a:</p>
				<p class="flow-text left-align"><a class="mail-link" href="mailto:contacto@primeraraiz.com">contacto@primeraraiz.com</a></p>
				<p class="flow-text left-align">Elaboramos una cotización especial o te informamos cuando visitemos tu ciudad.</p>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="main-background">
		<h4>Videos</h4>
		<p class="flow-text left-align">Elaboramos videos con base en el mismo tour virtual, que se pueden incluir en anuncios en portales inmobiliarios.</p>
		<div id="video-section">
			<div class="main-section-wrapper">
				<div class='embed-container'>
					<iframe width="853" height="480" src="https://www.youtube.com/embed/cjgVTndgcz0" allowfullscreen>
					</iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div id="floorplan-section" class="b-container">
		<h4 class="white-text">Plano esquemático</h4>
		<img alt="plano México" id="main-floorplan" class="z-depth-1" src="/SchematicFloorplan.jpg">
	</div>
</div>
<div class="white tight-main-wrapper">
	<div id="FAQ" class="row main-section-wrapper">
		<h4>Preguntas frecuentes</h4>
		<ul class="collapsible popout white-text" data-collapsible="accordion">
			<li>
				<div class="collapsible-header left-align valign-wrapper"><p class="flow-text valign">¿Para qué tipo de espacios es adecuado el tour virtual?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Lo recomendamos principalmente para espacios interiores (aunque podemos incluir tomas del exterior). Por lo demás, podemos hacer un tour en cualquier espacio. Para proyectos de más de 1,000 metros cuadrados es necesario segmentar y contratar más de un tour.</p></div>
			</li>
			<li>
				<div class="collapsible-header left-align"><p class="flow-text">¿Cuánto se tardan en generar un tour virtual?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Según la disponibilidad puedes agendar tu sesión fotográfica con una anticipación mínima de 48 horas. Después de la sesión necesitamos de uno a tres días naturales para procesar el modelo.<br>¡Puedes tener tu tour listo en menos de una semana!</p></div>
			</li>
			<li>
				<div class="collapsible-header left-align"><p class="flow-text">¿Es difícil integrar el tour vitual en mi página web?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Es muy sencillo. Cualquier desarrollador que tenga las credenciales para editar tu página pueda hacer la integración, es cuestión de copiar y pegar el código que te enviaremos.Con todo gusto te proporcionamos el soporte técnico que necesites.</p></div>
			</li>
			<li>
				<div class="collapsible-header left-align"><p class="flow-text">¿Se puede generar un tour virtual a partir de un render?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">No, nuestro servicio siempre parte de hacer un levantamiento de imágenes y dimensiones de un espacio existente. Esto tiene muchas ventajas: la velocidad, el costo y que los usuarios tienen la percepción de estar en el espacio (algo que nunca se puede lograr con un render, por más alta que sea la calidad).</p></div>
			</li>
			<li>
				<div class="collapsible-header left-align"><p class="flow-text">¿Emiten facturas?</p></div>
				<div class="collapsible-body"><p class="grey-text text-darken-3 left-align">Por supuesto, para solicitar tu factura sólo envía los datos fiscales a facturacion@primeraraiz.com antes de que concluya el mes durante el cual realizaste el pago a facturar. Es necesario que envíes tus datos desde la cuenta de correo que registraste al contratar el tour virtual.</p></div>
			</li>
		</ul>
	</div>
</div>
<div class="row b-container almost-footer valign-wrapper">
		<img alt="Matterport México" class="affiliation-frame valign double-extra-right" src="/assets/matterport-service-partner.png" alt="matterport">
		<!-- <i class="white-text fa fa-facebook-official fa-4x valign extra-right" aria-hidden="true"></i> -->
		<a href="https://www.linkedin.com/company/10926872?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10926872%2Cidx%3A1-1-1%2CtarId%3A1473960364859%2Ctas%3Aprimera%20ra%C3%ADz">
			<i class="white-text fa fa-linkedin-square fa-4x valign extra-right" aria-hidden="true"></i>
		</a>
		<a href="https://www.facebook.com/Primera-Ra%C3%ADz-1084848911583720/?fref=ts">
			<i class="white-text fa fa-facebook-official fa-4x valign extra-right" aria-hidden="true"></i>
		</a>
</div>
<!-- <div id="tour-modal" class="modal">


</div> -->
<% if @charge %>
	<div id="success-modal" class="modal">
		<div id="tour-header" class="modal-content">
			<img alt="recorrido virtual México Primera Raíz" src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">¡Transacción exitosa! <br>Enviamos un mensaje con información importante a <%= session[:client_email] %></p>
			</div>
		</div>
	</div>
<% end %>
<% if @wire %>
	<div id="wire-modal" class="modal">
		<div id="tour-header" class="modal-content">
			<img alt="recorrido virtual México Primera Raíz" src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p>¡Gracias por tu preferencia!<br>Por favor, realiza el depósito por <%= @downPayment %><span id="transfer-amount"></span><span class="currency-font"> MXN</span> a la siguiente cuenta:</p>
				<table id="transfer-table" class="green-table white-text z-depth-1">
					<tbody>
						<tr>
							<td class="bold-cell">Beneficiario:</td><td>Roberto Valladares Piedras</td>
						</tr>
						<tr>
							<td class="bold-cell">Banco:</td><td>Banorte / IXE</td>
						</tr>
						<tr>
							<td class="bold-cell">Cuenta:</td><td>0011614706</td>
						</tr>
						<tr>
							<td class="bold-cell">Clabe:</td><td>072180000116147064</td>
						</tr>
					</tbody>
				</table>
				<p>En el concepto de la tranferencia por favor escribe <span class="bold-cell">tour<%=session[:tour_id]%></span>.</p>
				<p>No dudes en comunicarte con nosotros para cualquier duda a <a href="mailto:contacto@primeraraiz.com" class="mail-link">contacto@primeraraiz.com</a> o al <a href="tel:5544545312" class="mail-link">(044) 55 4454 5312</a></p>
			</div>
		</div>
	</div>
<% end %>
<% if @paid %>
	<div id="final-modal" class="modal">
		<div id="final-header" class="modal-content">
			<img alt="recorrido virtual México Primera Raíz" src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text">Transacción exitosa ¡Gracias por tu preferencia!</p>
			</div>
		</div>
	</div>
<% end%>
<% if @fail %>
	<div id=>"fail-modal">
		<div id="fail-header" class="modal-content">
			<img alt="recorrido virtual México Primera Raíz" src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<div class="b-container">
				<p class="flow-text"><%= session[:charge].inspect %></p>
			</div>
		</div>
	</div>
<% end %>

