<script>

	$(window).load(function() {
		Materialize.toast('Versión de prueba<br>¡Iniciamos operaciones próximamente!', 4000)
	})

  $(function(){
      $("#b-subtitle-tour, #c-subtitle-tour").typed({
        strings: ["^1200Inmuebles en venta", "^1200Departamento muestra", "^1200Hoteles, bares y restaurantes", "^1200Espacios culturales", "^1200Desde $4,640 pesos^1000<br> <span id='parenthesis'>(gratis al vender tu depa con nosotros)^4000<span>"],
        typeSpeed: 0,
        backDelay: 1000,
        loop: true,
      });
  });
</script>
<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.tour-modal-trigger').leanModal()
    if($('#success-modal').length) {
    	$('#success-modal').openModal()
    	$.get()
    }


    var setTime = function(hours) {
			console.log('Setting time')
			$('.timepicker').pickatime({
				min: [8,0],
				max: [17,0],
				interval: 180,
				disable: hours.hours,
				clear: "Cerrar",
			})
		}

		$('#date_selector').change(function() {
			$('#tour-time-selector').replaceWith('<input id="tour-time-selector" disabled name="appointment[time]" class="timepicker">')
			$.post(
				'/getTime',
				$(this).serialize(),
				function(data) {
					console.log(data)
					setTime(data)
					$('#tour-time-selector').prop('disabled', false)
					$('#tour-appointment-button').prop('disabled', true)
				}
			)
			return false
		})

		$('#time-wrapper').on('change', function() {
			console.log('Working')
			$('#tour-appointment-button').removeAttr('disabled', true).addClass("animated pulse")	
		})

		$('#tour-appointment-form').submit(function() {
			$.post(
				'/appointments/tourAppointment',
				$(this).serialize(),
				function(data) {
					console.log(data)
					if ("result" in data) {
						$('#tour-third-b').hide()
						$('#tour-fourth-b').show()
						$('#tour-third-b-scrollspy').removeClass('active')
						$('#tour-fourth-b-scrollspy').addClass('active animated pulse')
					}
				}
			)
			return false
		})

		$('#tour-district-selector').change(function() {
			$('#tour-neighborhood-selector').html('')
			$.post(
				'/virtualtour/getNeighborhoods',
				$(this).serialize(),
				function(data) {
					var neighboodOptions = "<option value='' disabled selected>Colonia</option>"
					for(i=0; i<data.neighborhoods.length; i++) {
						neighboodOptions += "<option value='"+data.neighborhoods[i].id+"'>"+data.neighborhoods[i].name+"</option>"
					}
					$('#tour-neighborhood-selector').append(neighboodOptions)
				}
			)
			return false
		})

		$('#tour-neighborhood-selector').change(function() {
			$('#tour-address-button').removeAttr('disabled', true).addClass("animated pulse")
		})

		$('#tour-address-form').submit(function() {
			$.post(
				'/locations',
				$(this).serialize(),
				function(data) {
					console.log(data)
					if ("success" in data) {
						$('#tour-first-b').hide()
						$('#tour-second-b').show()
						$('#tour-first-b-scrollspy').removeClass('active')
						$('#tour-second-b-scrollspy').addClass('active animated pulse')

					}
					else {
						console.log('Wrong!')
					}
				}
			)
			return false
		})


		$('#tour-land-line').click(function() {
			$('#tour-mobile-number').attr("disabled", true)
			$('#tour-land-line-number').removeAttr("disabled")
			$('#tour-message-contact-radio').attr("disabled", true)
			$('#tour-whatsapp-contact-radio').attr("disabled", true)
		})


		$('#tour-mobile').click(function() {
			$('#tour-mobile-number').removeAttr("disabled")
			$('#tour-land-line-number').attr("disabled", true)
			$('#tour-message-contact-radio').removeAttr("disabled")
			$('#tour-whatsapp-contact-radio').removeAttr("disabled")
		})

		$('#tour-land-line-number').mask("(99) 9999-9999")
		$('#tour-mobile-number').mask("(99) 9999-9999")
		$('#tour-card').mask("9999-9999-9999-9999")

		$('#client-form').submit(function(e) {
			$('#tour-zero-b-scrollspy').removeClass('animated shake')
			e.preventDefault()
			var client_form = $('#client-form')
			$.ajax({
					type: "POST",
					url: "/clients",
					data: client_form.serialize(),
					dataType: "json",
					success: function(data) {
						$('#error-message-board').hide()
						$('#error-board').removeClass('fadeOutRight').addClass('fadeInLeft').show()
						$('#tour-zero-b').hide()
						$('#tour-first-b').show()
						$('#tour-zero-b-scrollspy').removeClass('active')
						$('#tour-first-b-scrollspy').addClass('active animated pulse')
					},
					error: function(data) {
						console.log(data)
						var array = data["responseJSON"].errors
						console.log(array)
						var newHTML = []
						for (var i = 0; i < array.length; i++) {
						    newHTML.push('<li class="red-text" style="opacity:0;">' + array[i] + '</li>')
						}
						$('#error-board').addClass('animated fadeOutRight').delay(4000).hide()
						$("#error-message-board").html("<div class='row'><ul class='stacked_errors'>"+newHTML.join("")+"</ul></div>")
						$('#tour-zero-b-scrollspy').addClass('animated shake')
						Materialize.showStaggeredList('.stacked_errors')
					}
				})
			})	


		$('.client-contact').change(function() {
			$('#client-button').removeAttr("disabled", true).addClass("animated pulse")
		})
  	})
</script>
<script>
	
	var conektaSuccessResponseHandler = function(token) {
		var $form = $("#card-form")

		/* Inserta el token_id en la forma para que se envíe al servidor */
		$form.append($("<input type='hidden' name='conektaTokenId'>").val(token.id))

		/* and submit */
		$form.get(0).submit()
	}

	var conektaErrorResponseHandler = function(response) {
		var $form = $("#card-form")

		/* Muestra los errores en la forma */
		$form.find(".card-errors").text(response.message_to_purchaser)
		$form.find("button").prop("disabled", false)
	}

	$(function () {
		$("#card-form").submit(function(event) {
			var $form = $(this)

			// Previene hacer submit más de una vez
			$form.find("button").prop("disabled", true)
			Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler)
			//Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler) //v5+

			// Previene que la información de la forma sea enviada al servidor
			return false
		})
	})

</script>
<video autoplay id="bgvid" loop poster="/assets/tour_video_first_frame.jpg">
	<source src="https://s3.amazonaws.com/static.matterport.com/mp_dotcom_wp/prod/wp-content/uploads/2016/04/18195748/Main-Page-Fly-Through.webmhd.webm" type="video/webm">>
</video>
<div class="dark-screen" style="height: 800px">		
	<nav class="transparent z-depth-0" role="navigation">
		<div class="b-container">
			<div class="nav-wrapper">
				<div data-no-turbolink>
					<a href="/" class="brand-logo valign-wrapper hide-on-small-only">
						<img src="/assets/white_logo">
						primeraRaíz | <span id="cdmx">CDMX</span>
					</a>
				</div>
				<div data-no-turbolink>
					<a href="/" class="brand-logo small-logo valign-wrapper hide-on-med-and-up right">
						<img src="/assets/white_logo" style="width:24px;height:24px;">
						primeraRaíz
					</a>
				</div>
				<ul class="right hide-on-med-and-down">
					<% if current_user %>
						<li>
							<form id="logout" action="/sign_out" method="post">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input type="hidden" name="_method" value="delete">
								<a action="/sign_out" method="delete" onclick="document.getElementById('logout').submit()">CERRAR SESIÓN</a>
							</form>
						</li>
					<% else %>
						<li><a class="login-modal-trigger" href="#login">INICIAR SESIÓN</a></li>
					<% end %>
					<li><a href="#steps">CÓMO FUNCIONA</a></li>
					<li><a href="#profile">NOSOTROS</a></li>
					 <li><a class="dropdown-button" href="#!" data-activates="dropdown1">TOUR VIRTUAL<i class="material-icons right dropdown-icon">arrow_drop_down</i></a></li>
				</ul>
				<ul id="dropdown1" class="dropdown-content">
					<li><a id="vt-link" href="/virtualtour">DESCRIPCIÓN</a></li>
					<li><a id="vt-link" href="https://matterport.com/try-it/" target="blank">DEMO</a></li>
					<li><a class="tour-modal-trigger" href="#tour-modal">CONTRATA</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav blue-grey-text text-darken-3">
					<li><a href="#steps">CÓMO FUNCIONA</a></li>
					<li><a href="#profile">NOSOTROS</a></li>
					<% if current_user %>
						<li>
							<form id="logout" action="/sign_out" method="post">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input type="hidden" name="_method" value="delete">
								<a action="/sign_out" method="delete" onclick="document.getElementById('logout').submit()">CERRAR SESIÓN</a>
							</form>
						</li>
					<% else %>
						<li><a class="login-modal-trigger" href="#login">INICIAR SESIÓN</a></li>
					<% end %>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</div>
	</nav>
	<div id="main" class="section">
		<div class="b-container">
			<div class="row title-wrapper valign-wrapper" style="width: 100%">
				<div id="banner" class="col s12 m12 l12">
					<div class="row">
						<h1 id="b-title" class="hide-on-small-only center-align white-text">El tour vitual más realista</h1>
						<div id="b-subtitle-container" class="hide-on-small-only center-align white-text">
							<h3 id="b-subtitle-tour"></h3>
						</div>		
						<h1 id="c-title" class="hide-on-med-and-up center-align white-text">El tour vitual más realista</h1>
						<div id="c-subtitle-container" class="hide-on-med-and-up center-align white-text">
							<h3 id="c-subtitle-tour"></h3>
						</div>
					</div>
					<br>
					<div class="row center-align">
							<a href="https://matterport.com/try-it/" target="blank" class="b-link tour-button-container">DEMO</a>
							<a href="#tour-modal" class="tour-modal-trigger b-link tour-button-container">CONTRATA</a>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>s
</div>
<div id="tour-modal" class="modal">
	<div id="tour-header" class="modal-content">
		<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
		<p class="primera">primera<span class="raiz">Raíz</span></p>
	</div>
	<div id="tour-first">
		<div class="modal-content">
			<div class="row"> 
				<div class="col s12">
					<h5>Características del tour virtual</h5>
					<ul>
						<li>Recomendado para espacios interiores de hasta 1,000 m2.</li>
						<li>Consulta en la dirección proporcionada por Primera Raíz, o fácil integración en tu página web.</li>
						<li>Controles de navegación en inglés.</li>
						<li>Contratación con anticipo no reembolsable del 30%; pago del 70% restante contra publicación del tour vitual.</li>
						<li>Servicio disponible en la Zona Metropolitana del Valle de México.</li>
					</ul>
				</div>
			</div>	
			<div class="b-container">
				<form id="legal_form" class="row 
				valign-wrapper" style="width:100%">
					<div class="col s8">
						<input type="checkbox" id="legal" class="valign">
						<label class="terms_label valign" for="#legal">Acepto los <a href="">terminos y condiciones</a></label>
					</div>
					<div class="col s4">
						<button id="legal-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="tour-second" style="display:none">
		<div class="modal-content">
			<div class="row">
				<div id="tour-scroller" class="col l6 m6 s12 tour-right-column hide-on-small-only">
					<ul class="section table-of-contents">
						<li><a id="tour-zero-b-scrollspy" class="scrollspy-li" href="#tour-zero-b">Datos de contacto</a></li>
						<li><a id="tour-first-b-scrollspy" class="scrollspy-li" href="#tour-first-b">Dirección del inmueble</a></li>
						<li><a id="tour-second-b-scrollspy" class="scrollspy-li" href="#tour-second-b">Dimensiones</a></li>
						<li><a id="tour-third-b-scrollspy" class="scrollspy-li" href="#tour-third-b">Fecha y hora</a></li>
						<li><a id="tour-fourth-b-scrollspy" class="scrollspy-li" href="#tour-fourth-b">Pago</a></li>
					</ul>
					<div class="b-container">
						<div id="error-board" class="valign-wrapper">
							<h4 class="white-text valign center-align">El tour virtual más realista</h4>
						</div>
						<div id="error-message-board"></div>
					</div>
				</div>	
				<div id="tour-zero-b" class="col l6 m6 s12 tour-left-column">
					<h5 class="hide-on-med-and-up">Datos de contacto</h5>
					<form id="client-form" action="/clients" method="post">
						<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
						<div class="row">
							<div class="input-field col s12">
								<input type="text" name="client[name]" placeholder="Nombre">
							</div>
							<div class="input-field col s12">
								<input type="text" name="client[email]" placeholder="Correo electrónico">
							</div>
							<div class="input-field col s5">
								<input class="with-gap" name="phone_type" value="mobile" type="radio" id="tour-mobile" checked="checked">
								<label for="tour-mobile">Celular</label>
							</div>
							<div class="input-field col s7">
								<input id="tour-mobile-number" type="text" name="client[mobile_phone]" placeholder="Número (10 dígitos)">
							</div>
							<div class="input-field col s5">
								<input class="with-gap" name="phone_type" value="land_line" type="radio" id="tour-land-line">
								<label for="tour-land-line">Fijo</label>
							</div>
							<div class="input-field col s7">
								<input id="tour-land-line-number" type="text" name="client[other_phone]" placeholder="Número (10 dígitos)" disabled>
							</div>
							<p>¿Cómo prefieres que te contactemos?</p>
							<div class="input-field col s6">
								<input id="tour-email-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="email">
								<label for="tour-email-contact-radio" class="valign">Correo</label>
							</div>
							<div class="input-field col s6">
								<input id="tour-phone-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="phone">
								<label for="tour-phone-contact-radio">Teléfono</label>
							</div>
							<div class="input-field col s6">
								<input id="tour-whatsapp-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="whatsapp">
								<label for="tour-whatsapp-contact-radio">WhatsApp</label>
							</div>
							<div class="input-field col s6">
								<input id="tour-message-contact-radio" type="radio" name="client[contact]" class="client-contact with-gap" value="message">
								<label for="tour-message-contact-radio">Mensaje SMS</label>
							</div>
						</div>
						<p class="valign-wrapper right">
							<span class="button-label">Siguiente</span>
							<button id="client-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-first-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Dirección del inmueble</h5>
					<p class="header-note">Ingresa la dirección del inmueble en el que realizaremos el tour virtual.</p>
					<form id="tour-address-form" action="/locations" method="post">
						<div class="row">
							<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							<div class="input-field col s12">
								<input type="text" name="location[street]" placeholder="Calle">
							</div>
							<div class="input-field col s6">
								<input type="text" name="location[number]" placeholder="Núm. exterior">
							</div>
							<div class="input-field col s6">
								<input type="text" name="location[unit]" placeholder="Núm. interior">
							</div>
							<div class="input-field col s12">
								<select id="tour-district-selector" name="tour[district]" class="browser-default">
									<option value="" disabled selected>Delegación/Municipio</option>
									<% @areas.each do |area| %>
										<option><%=area%></option>
									<% end %>
								</select>
							</div>
							<div class="input-field col s12">
								<select id="tour-neighborhood-selector" name="location[area_id]" class="browser-default">
									<option value="" disabled selected>Colonia</option>
								</select>
							</div>
						</div>
						<p class="valign-wrapper right">
							<span class="button-label">Siguiente</span>
							<button id="tour-address-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-second-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Dimensiones</h5>
					<p class="header-note">Selecciona una opción de acuerdo a las dimensiones del inmueble.</p>
					<form id="tour-price-form" action="/virtualtour/setPrice" method="post">
						<table class="striped">
							<thead>
								<tr>
									<th data-field="shoots" class="center-align">Dimensiones del inmueble</th>
									<th data-field="price" class="center-align">Costo (IVA incluido)*</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input name="tour[price]" value="4640" class="with-gap" type="radio" id="tour150" />
										<label for="tour150">&#60 150m2</label>
									</td>
									<td class="right">$4,640 MXN</td>
								</tr>
								<tr>
									<td>
										<input name="tour[price]" value="5800" class="with-gap" type="radio" id="tour300" />
										<label for="tour300">150 – 300m2</label>
									</td>
									<td class="right">$5,800 MXN</td>
								</tr>
								<tr>
									<td>
										<input name="tour[price]" value="6960" class="with-gap" type="radio" id="tour450" />
										<label for="tour450">300 – 450m2</label>
									</td>
									<td class="right">$6,960 MXN</td>
								</tr>
								<tr>
									<td>
										<input name="tour[price]" value="8120" class="with-gap" type="radio" id="tour600" />
										<label for="tour600">450 – 600m2</label>
									</td>
									<td class="right">$8,120 MXN</td>
								</tr>
								<tr>
									<td>
										<input name="tour[price]" value="9280" class="with-gap" type="radio" id="tour750" />
										<label for="tour750">600 – 750m2</label>
									</td>
									<td class="right">$9,280 MXN</td>
								</tr>
								<tr>
									<td>
										<input name="tour[price]" value="10440" class="with-gap" type="radio" id="tour1000" />
										<label for="tour1000">750 – 1000m2</label>
									</td>
									<td class="right">$10,440 MXN</td>
								</tr>
							</tbody>
						</table>
						<p class="table-note right-align">*Incluye la generación de tour virtual y el acceso al modelo en línea por un año.</p>
						<p class="valign-wrapper right">
							<span class="button-label">Siguiente</span>
							<button id="price-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-third-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Fecha y hora</h5>
					<p class="header-note">Considera que se necesitan de una a dos horas para fotografiar el inmueble y se recomienda evitar el paso de personas.</p>
					<form id="tour-appointment-form" action="/appointments/tourAppointment" method="post">
						<div class="row">
							<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							<div class="input-field col s12">
								<input id="date_selector" type="text" name="appointment[date]" class="datepicker" placeholder="Fecha">
							</div>
							<div id="time-wrapper" class="input-field col s12">
								<input id="tour-time-selector" disabled name="appointment[time]" class="timepicker" placeholder="Hora">
							</div>
						</div>
						<p class="valign-wrapper right">
							<span class="button-label">Siguiente</span>
							<button id="tour-appointment-button" disabled class="light-green accent-4 btn-floating btn-small waves-effect waves-light right valign" type="submit"><i class="material-icons">send</i></button>
						</p>
					</form>
				</div>
				<div id="tour-fourth-b" class="col l6 m6 s12 tour-left-column" style="display:none">
					<h5 class="hide-on-med-and-up">Pago</h5>
					<p>Para contratar es necesario pagar un anticipo no reembolsable por $<%= session[:tourPrice]*0.30%> pesos. Los $<%= session[:tourPrice]*0.70%>) pesos restantes se deberán liquidar contra la publicación del tour. Por favor, selecciona una opción de pago.</p>
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s6"><a class="payment-tab-link" href="#card-tab">Tarjeta</a></li>
								<li class="tab col s6"><a class="payment-tab-link" href="#wire-tab">Transferencia</a></li>
							</ul>
						</div>
						<div id="card-tab" class="col s12">
							<div id="credit-card-row" class="row">
								<p>
									<div class="payment-type col s3">
										Crédito:
									</div>
									<div class="payment-type col s9">
										<i class="fa fa-right fa-cc-visa fa-2x grey-text text-darken-3"></i>
										<i class="fa fa-right fa-cc-mastercard fa-2x grey-text text-darken-3"></i>
									</div>
								</p>
								<p>
									<div class="payment-type col s3">
										Débito:
									</div>
									<div class="col s9">
										<span id="bank_names">Banamex HSBC Inbursa Santander</span>
									</div>
								</p>
							</div>
							<%= form_tag('/charges/create', id: 'card-form', :remote => true) do %>
							  	<span class="card-errors"></span>
								<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							  	<div class="col s12">
							    	<label>
							      		<span>Nombre del tarjetahabiente</span>
							      		<input type="text" size="20" data-conekta="card[name]"/>
							    	</label>
							  	</div>
							  	<div class="col s8">
							    	<label>
							      		<span>Número de tarjeta de crédito</span>
							      		<input id="tour-card" type="text" size="20" data-conekta="card[number]"/>
							    	</label>
							  	</div>
							  	<div class="col s3 offset-s1">
							    	<label>
							      		<span>CVC</span>
							      		<input type="text" size="4" data-conekta="card[cvc]"/>
							    	</label>
							  	</div>
							  	<div class="form-row">
							    	<label>
							      		<span>Fecha de expiración</span>
							      		<div class="col s5">
							      			<input type="text" size="2" placeholder="MM" data-conekta="card[exp_month]"/>
							      		</div>
							      		<div class="col s6 offset-s1">
							      			<input type="text" size="4" placeholder="AAAA" data-conekta="card[exp_year]"/>
							      		</div>	
							    	</label>
							  	</div>
							<!-- Información recomendada para sistema antifraude -->
							  <div class="col s12">
							    <label>
							      <span>Dirección (calle y núm.)</span>
							      <input type="text" size="25" data-conekta="card[address][street1]"/>
							    </label>
							  </div>
							<div class="col s12">
							    <label>
							      <span>Dirección (colonia)</span>
							      <input type="text" size="25" data-conekta="card[address][street2]"/>
							    </label>
							</div>
							<div class="col s5">
							    <label>
							      <span>País</span>
							      <input type="text" size="25" data-conekta="card[address][country]"/>
							    </label>
							</div>
							<div class="col s6 offset-s1">
							    <label>
							      <span>Estado</span>
							      <input type="text" size="25" data-conekta="card[address][state]"/>
							    </label>
							</div>
							<div class="col s5">
							    <label>
							      <span>Ciudad</span>
							      <input type="text" size="25" data-conekta="card[address][city]"/>
							    </label>
							</div>
							<div class="col s6 offset-s1">
							    <label>
							      <span>CP</span>
							      <input type="text" size="5" data-conekta="card[address][zip]"/>
							    </label>
							  </div>
							  <button type="submit">¡Pagar ahora!</button>
							<% end %>
						</div>
						<div id="wire-tab" class="col s12">
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<% if session[:charge] %>
	<div id="success-modal" class="modal">
		<div id="tour-header" class="modal-content">
			<img src="/assets/logo_original.png" class="z-depth-1" width="24px" height="24px">
			<p class="primera">primera<span class="raiz">Raíz</span></p>
		</div>
		<div class="modal-content">
			<p class="flow-text">Transacción exitosa. Enviamos un mensaje con información importante a <%= session[:client_email] %></p>
		</div>
	</div>
<% end %>

